* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgba(51, 24, 24, 0.918);
    padding: 24px 248px;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 98px;
    color: #F9FAF8;
    font-size: 24px;
}

.navbar p {
    font-size: 36px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #f9faf8be;
}

.header-content {
    margin: 98px 0;
    color: #F9FAF8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 84px;
}

.header-content-text {
    width: 550px;
    font-size: 24px;
    color: #f9faf8be;
}

.header-content-text h1 {
    font-size: 58px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-content-text p {
    margin: 24px 0;
}

button {
    width: max-content;
    padding: 12px 46px;
    font-size: 22px;
    font-weight: 600;
    color: #f9faf8be;
    background-color: #ab4d21;
    border: none;
    border-radius: 12px;
}

button:active {
    background-color: #ab4d21a2;
}

.header-content-image {
    width: 650px;
    height: 500px;
    background-image: url("../images/flyingcupofcoffee.png");
    background-position: center;
    background-size: cover;
}

.make-coffee {
    background-color: #F9FAF8;
    padding: 56px 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.make-coffee h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgba(51, 24, 24, 0.918);
}

.make-coffee p {
    width: 300px;
    text-align: center;
}

.make-coffee-content {
    margin: 56px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;
}

.make-coffee span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    color: #331818ea;
}

.steps {
    width: 260px;
    height: 185px;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    border: 4px solid #ab4d21;
    border-radius: 16px;
}

.step1 {
    background-image: url("https://images.unsplash.com/photo-1516515642050-6d45077ff7ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"), linear-gradient(#ab4d214f, #ab4d214f);
}

.step2 {
    background-image: url("https://images.unsplash.com/photo-1510422877342-80dc5ea91c5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"), linear-gradient(#ab4d214f, #ab4d214f);
}

.step3 {
    background-image: url("https://images.unsplash.com/photo-1507226983735-a838615193b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"), linear-gradient(#ab4d214f, #ab4d214f);
}

.step4 {
    background-image: url("https://images.unsplash.com/photo-1613674768015-96f159a6c147?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1375&q=80"), linear-gradient(#ab4d214f, #ab4d214f);
}

.quote {
    background-color: #4e323238;
    background-image: url("../images/karsten-winegeart-l24eJZ9cIQk-unsplash.jpg"), linear-gradient(#ffffff42, #ffffff42);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
}

.quote div {
    width: 760px;
    margin: 98px 0;
    color: #F9FAF8;
    text-shadow: 0px 0px 18px black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
}

.action {
    padding: 98px 248px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action div {
    background-color: #ab4d21;
    color: #F9FAF8;
    padding: 56px 156px;
    border-radius: 16px;
    display: flex;
    gap: 148px;
}

.action h2 {
    font-size: 36px;
}

.action p {
    font-size: 28px;
    color: #f9faf8be;
}

.action span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    padding: 32px;
    color: #F9FAF8;
    font-size: 18px;
    background-color: #331818ea;
    display: flex;
    align-items: center;
    justify-content: center;
}